{% extends 'registration_app/base.html' %}

{%load crispy_forms_tags %} 

{% comment %} {% block title %} Form Page {% endblock %} {% endcomment %}

{% block body_block %}

    <h1>Fill out the form!</h1>
    <div class="container form-control p-5">
        <form class="row g-3" method="POST">
            {{ myform|crispy }}
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

{% endblock %}

