<title>Home Page</title>
{% extends 'registration_app/base.html'%}
{% block body_block %}
<div class="container-fluid">
    <div class="row p-3">
        <div class="badge col-2 border rounded p-3 mb-2 bg-opacity-75 text-bg-secondary align-items-start">
            <a class="card text-bg-info p-2 mb-1" href="http://google.com">Adhaar Services</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">PAN Services</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Bank Account Services</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Passport Services</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Alpha</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Beta</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Gama</a><br>
            <a class="card text-bg-info p-2 mb-1" href="http://">Lamha</a><br>
        </div>
        <div class="col-1"></div>
        <div class="col-9 border rounded p-3 mb-2 text-dark bg-light bg-opacity-75 bg-gradient"
             style="background-image : url('static\images\finance1.jpg');background-size: 100% 100%;">
            <h1>Welcome to Global Finance Solutions</h1>
            <br><h2>THksklsdflclksnclksndc slncsmd clsdlkjsdc;kaa;slkdfj l;askdfjal;ksdufqpowierusa faso</h2><br>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
        </div><br>
        <div class="col-3"><p>Login</p></div>
        <div class="col-9 border border-success rounded">
            <div class="row">
            <div class="card w-25 col-3 p-2" >
                <img src="\static\images\aadhaar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aadhar Services</h5>
                    <p class="card-text">Adhaar card editing, such as names, address, phone number etc. can be changed here.</p>
                    <a href="#" class="btn btn-primary">Click for Adhaar Services</a>
                </div>
            </div>
            <div class="card w-25 col-3 p-2" >
                <img src="\static\images\airlines.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Airline Services</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card w-25 col-3 p-2" >
                <img src="\static\images\bank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bank Services</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card w-25 col-3 p-2" >
                <img src="\static\images\passport.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Passport</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}